@{
    ViewBag.Title = "Contact";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome User @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h1>
    var name = HttpContext.Current.User.Identity.Name;
    <h1>Your Id is @name</h1>
    <a href="@Url.Action("Signout","Login")">Logout</a>
}
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>